.wrapper {
    display: flex;
}

.card__wrapper {
    width: 80%;
}

.title {
    font-size: 40px;
    margin-bottom: 50px;
}

.list {
    display: flex;
    flex-direction: column;
}

.payment__block {
    width: 20%;
    margin-top: 110px;
    margin-left: 30px;
}

.payment__title {
    margin-bottom: 30px;
}

.total__list {
    display: flex;
    flex-direction: column;
}

.item {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.total__block {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding: 20px 0;
}

.btn {
    font-weight: bold;
    color: black;
    text-align: center;
    background-color: rgb(38,187,255);
    padding: 12px 20px;
    width: 100%;
    border-radius: 10px;
}



