.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 650px;
    width: 550px;
    background-color: #333333;
    border-radius: 10px;
    box-shadow: 3px 5px 21px 3px rgba(0, 0, 0, 0.37);
    padding: 40px 60px;
}

.icon__wrapper {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.title {
    color: #fff;
    margin-bottom: 40px;
}

.error {
    color: red;
    font-family: inherit;
    text-align: center;
}

.btn__wrapper {
    margin-top: 20px;
}

.btn__confirmForm {
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    background-color: #4269E2;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 25px;
    margin-right: 35px;
    &:hover {
        background-color: #1d4bd8;
    }
}

.btn__resetPass {
    font-family: inherit;
    background-color: transparent;
    border: none;
    border-bottom: white 1px solid;
    color: white;
    font-size: 16px;

    &:hover {
        color: grey;
        border-bottom: grey 1px solid;
    }
}