.card {
    cursor: pointer;
    width: 213px;
}

.image {
    cursor: pointer;
    border-radius: 4px;
    height: 284px;
    width: 213px;
}

.desc {
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: 500;
}